body {
    background-color: #e3e3e3;
}

img {
    max-width: 100%;
}

.header-nav {
    width: 100%;
    min-height: 80px;
    background-color: #FFF;
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.header-nav img {
    height: 80px;
}

.header-nav i {
    font-size: 46px;
}

.header-nav .wallet {
    background-color: #21a551;
    padding: 15px 40px;
    border-radius: 8px;
    font-weight: bold;
    color: #FFF;
}

main {
    padding: 80px 0 0 0;
    right: inherit;
}

.look .payment {
    position: relative !important;
    right: 0 !important;
}

.alert,
.look {
    background-color: #FFF;
    box-shadow: 0 2px 10px 0 #CCC;
    border-radius: 8px;
}

.alert h1 {
    font-weight: 900;
    color: #353535;
}

.alert p {
    font-size: 1.275em;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #353535;
}

.alert p span {
    color: #ff9400;
    font-weight: 700;
}

.btn-app {
    border: none;
    border-radius: 6px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 0;
    width: 100%;
    box-shadow: inset 0 -3px 0 0 #00000038;
}

#btn-start {
    background-color: #17b651;
}

.feed ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.feed .look h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.375em;
    color: #353535;
}

.feed .look img {
    border-radius: 8px;
    border: 6px solid #DDD;
}

.btn-voto {
    width: 100%;
    height: 60px;
    background-color: #000;
    font-weight: 800;
    color: #FFF;
    font-size: 1.275em;
    cursor: pointer;
}

.btn-voto i {
    margin-right: 5px;
}

.n-1 {
    background-color: #a72525;
}

.n-2 {
    background-color: #cb7a17;
}

.n-3 {
    background-color: #b6a719;
}

.n-4 {
    background-color: #61bf22;
}

.n-5 {
    background-color: #1cbc11;
}

.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
}

.popup .row {
    height: 100vh;
}

.popup .alert {
    box-shadow: 0 2px 10px 0 #000;
}

@property --num {
    syntax: "<integer>";
    initial-value: 25;
    inherits: false;
}

#wallet-animation {
    animation: counter 5s forwards alternate ease-in-out;
    counter-reset: num var(--num);
}

#wallet-animation::after {
    content: counter(num);
}

@keyframes counter {
    from {
        --num: 25;
    }

    to {
        --num: 105;
    }
}

.popup .wallet {
    background-color: #2161a5;
    max-width: 260px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    color: #FFF;
    padding: 15px 40px;
    font-size: 1.275em;
    border-radius: 6px;
}

.popup h2 {
    font-weight: 700;
    color: #353535;
}

.popup button img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .header-nav .wallet {
        width: 100% !important;
        position: absolute;
        left: 0;
        border-radius: 0 !important;
    }

    .alert {
        margin: 30px 0 0 0;
    }

    .btn-voto {
        font-size: 1.125em !important;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.barra {
    background-color: #970fca;
    font-size: 20px;
    font-weight: 900;
    color: #FFF;
}

.barra p {
    padding: 0;
    margin: 0;
}

.logo {
    max-width: 100%;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 0.5px;
    text-shadow: 0 0 60px #000;
}

h1 span, h3 span {
    color: #ff0000;
    text-shadow: 0 0 60px #ff0000;
}

#panda-57768f2d-4bfa-4c79-ba8d-b6c6963ca128 {
    border-radius: 20px !important;
    box-shadow: 0 0 60px #000;
}

.player-depoimentos {
    width: 100%;
    max-height: 420px;
}

.volume {
    font-size: 16px;
    color: #FFF;
}

.footer {
    font-size: 12px;
    color: #999;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

button {
    font-size: 26px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #13a820;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 0 0 60px 0 #19da29;
    padding: 25px 80px 25px 80px;
    border: none;
    transform: scale(1);
    animation: pulse 1s infinite;
}

.btn-app {
    background-color: #cf2828;
    box-shadow: none;
}

.icon-grande {
    font-size: 54px;
    color: #ff0000;
}

.garantia, .depoimentos, .faq, .como-funciona {
    color: #FFF;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.garantia h3, .depoimentos h3, .faq h3, .como-funciona h3 {
    font-weight: 600;
}

.garantia img {
    margin: 25px 0;
}

.depoimentos h3 {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

.faq h4 {
    font-weight: 600;
    font-size: 20px;
    color: #fe74b6;
    text-align: left;
}

.faq p {
    text-align: left;
}

.esconder {
    display: none;
}

.fb-comments {
    border: 1px solid #e9ebee!important;
    border-radius: 18px;
    padding: 12px;
    margin-top: 10px;
    position: relative;
    color: #888;
}

.fb-comments {
    background-color: #fff!important;
    border: 1px solid #e9ebee!important;
}

.fb-comments {
    font-family: Helvetica,sans-serif;
}

.fb-comments-header {
    padding: 0;
    border-bottom: 1px solid #e9ebee!important;
}

.fb-comments-header span {
    color: #000;
    font-weight: 700;
    font-size: .9em;
}

.fb-comments-comment {
    border: none!important;
    padding: 0;
    margin: 10px 0;
    width: 100%;
}

.fb-comments-comment-img {
    vertical-align: top;
    width: 48px;
    padding-right: 5px;
}

.fb-comments-comment-img img {
    max-width: 48px;
    max-height: 48px;
    border-radius: 25px;
    object-fit: cover;
}

.fb-comments-comment-text {
    font-weight: 400;
    font-size: .9em;
    color: #050505;
    border-radius: 21px;
    background-color: #f0f2f5!important;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
}

.fb-comments-comment-name {
    font-size: .9em;
}

.fb-comments-comment-name name {
    color: #365899;
    text-decoration: none!important;
    font-weight: 700;
    cursor: pointer;
    cursor: hand;
}

.fb-comments-comment-actions {
    padding: 0 2px!important;
}

.fb-comments-comment-actions like, .fb-comments-comment-actions reply {
    font-size: .75em;
    color: #888;
    font-weight: 600;
    text-decoration: none!important;
    cursor: pointer;
    cursor: hand;
}

.fb-comments-comment-actions like, .fb-comments-comment-actions reply {
    font-size: .75em;
    color: #888;
    font-weight: 600;
    text-decoration: none!important;
    cursor: pointer;
    cursor: hand;
}

.fb-comments-comment-actions likes {
    font-size: 13px;
    background: url(images/likes.png);
    background-repeat: no-repeat;
    padding-left: 43px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-top: -10px;
    float: right;
    background-color: #fff!important;
    border: solid #eaebef;
    border-radius: 19px;
}

.fb-comments-comment-actions date {
    font-size: .75em;
    color: #90949c;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.fb-comments-reply-wrapper {
    margin-left: 60px;
    border-left: 1px dotted #e9ebee!important;
    padding-left: 5px;
}

h4.fakebook {
    font-size: 1.25vw;
    font-weight: bold;
}

@media (max-width: 767px) {
    .location p {
        font-size: 16px;
    }
    .logo {
        max-width: 280px;
    }
    
    h1 {
        font-size: 28px !important;
    }

    .garantia {
        text-align: center;
    }

    .garantia img {
        width: 240px;
        margin: 0;
    }
}